<% include ./partials/header %> 
<div class="container">	
	<header class="jumbotron">
			<div class="container">
				<h1>Welcome to Our Only Home</h1>
				<p>Login</p>
				<form action="/login" method="POST">
					<input type="text" name="username" placeholder="username">
					<input type="password" name="password" placeholder="password">
					<input type="submit" value="Login!">
				</form>	
			</div>
		</header>
</div>
<% include ./partials/footer %> 